<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/fragments-general :: head}"></head>

<body class="bg-dark text-white d-flex flex-column min-vh-100">

<section th:replace="~{layout/fragments-general :: navbar}"></section>
<section th:replace="~{layout/fragments-general :: sidebar}"></section>

<section class="content-page bg-dark text-light" style="min-height: 94.2vh;">

    <div class="mt-3" style="max-width: 50%">
        <p class="border-bottom border-2 mx-5 mb-0 p-3 pb-2 fs-5">[[#{admin.routines.user.routine.header}]]</p>
    </div>

    <div class="mt-3" style="max-width: 50%">
        <p class="fs-1 fw-bold mx-5" th:text="${routine.name}"></p>
    </div>

    <div class="container-fluid p-5 pt-1">

        <!-- Each row will be an exercise, containing a table of sets -->
        <div th:if="${exercise != null}" class="row" th:each="exercise : ${exercise}">
            <div class="col mb-4">
                <p class="fw-bold fs-3" th:text="${exercise.exercise.name}"></p>
                <table class="table text-light text-center">
                    <thead class="bg-light text-dark">
                    <tr>
                        <th></th>
                        <th>[[#{admin.routines.user.routine.series}]]</th>
                        <th></th>
                        <th>[[#{admin.routines.user.routine.reps}]]</th>
                        <th>[[#{admin.routines.user.routine.weight1}]]</th>
                        <th>[[#{admin.routines.user.routine.weight2}]]</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- This row will iterate through each set -->
                    <tr>
                        <td>
                            <div class="container px-0">
                                <a th:href="'/admin/routines/user/routine/' + ${routine.idRoutine} + '/delete/' + ${exercise.idExerciseRoutine}" class="btn btn-danger rounded-circle">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                            </div>
                        </td>

                        <!-- These can be modified by the admin -->
                        <form th:action="'/admin/routines/user/routine/' + ${routine.idRoutine} + '/update/' + ${exercise.idExerciseRoutine}" th:object="${exerciseRoutine}" method="POST">
                            <input type="hidden" class="form-control" th:value="${exercise.idExerciseRoutine}" min="1" name="idExerciseRoutine">
                            <input type="hidden" class="form-control" th:value="${exercise.exercise.idExercise}" min="1" name="exercise.idExercise">
                            <input type="hidden" class="form-control" th:value="${exercise.routine.idRoutine}" min="1" name="routine.idRoutine">
                            <td>
                                <input type="number" class="form-control" th:value="${exercise.series}" min="1" name="series">
                            </td>
                            <td>x</td>
                            <td>
                                <input type="number" class="form-control" th:value="${exercise.repetitions}" min="1" name="repetitions">
                            </td>
                            <td>
                                <input readonly="true" type="text" class="form-control text-secondary" th:value="${exercise.previousWeight}" name="previousWeight">
                            </td>
                            <td>
                                <input readonly="true" type="text" class="form-control text-secondary" th:value="${exercise.currentWeight}" name="currentWeight">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <!-- Each row will be an exercise, containing a table of sets -->
        <div th:if="${exercise == null or #lists.isEmpty(exercise)}" class="row justify-content-center align-items-center">
            <div class="col mb-4 text-center">
                <p class="fs-1 mx-auto" style="max-width: 50%;">[[#{admin.routines.user.routine.error}]]</p>
                <iframe src="https://giphy.com/embed/CM1rHbKDMH2BW" width="240" height="180" frameBorder="0" class="giphy-embed" allowFullScreen style="pointer-events: none;"></iframe>
            </div>
        </div>

        <div class="container w-50">
            <a th:href="'/admin/routines/user/routine/' + ${routine.idRoutine} + '/add/'" class="btn btn-primary fs-4 fw-bold w-100">[[#{admin.routines.user.routine.error.button}]]</a>
        </div>

    </div>
</section>

</body>

</html>