<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/fragments-general :: head}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/gym.css">
        <title>PurelyFit</title>
        <link rel="shortcut icon" href="../static/css/book-diet-6215693-5076252.webp" type="image/x-icon">
        
    </head>

    <body class="bg-dark  text-white d-flex flex-column min-vh-100">

        <section th:replace="~{layout/fragments-general :: navbar}"></section>
        <section th:replace="~{layout/fragments-general :: sidebar}"></section>

        <section class="content-page bg-dark text-light d-flex flex-column justify-content-center align-items-center" style="min-height: 94.2vh;">
            <div class="container text-center mt-5 mb-4"> 
               

                <!-- Previliges for user -->
            <div class="d-flex flex-row justify-content-center mt-2" sec:authorize="hasRole('ROLE_USER')"> 
                <div class="card bg-dark text-white border-0" style="width: 18rem; margin-right: 15px;">
                    <svg class="bd-placeholder-img card-img-top" width="50%" height="50" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>User Routines</title>
                        <img src="https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="My Routines" style="width: 100%; height: 400px; object-fit: cover;">
                    </svg>
                    <div class="card-body">
                        <h5 class="card-title">Routines</h5>
                        <p class="card-text">A healthy routine promotes energy, prevents illness, and supports mental well-being.</p>
                       
                    </div>
                </div>

                <div class="card bg-dark text-white border-0" style="width: 18rem; margin-right: 15px;">
                    <svg class="bd-placeholder-img card-img-top" width="50%" height="50" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>[[#{home.user.stretches}]]</title>
                        <img src="../static/Photos/img1.jpg" alt="stretches" style="width: 100%; height: 400px; object-fit: cover;">
                    </svg>
                    <div class="card-body">
                        <h5 class="card-title">Stretches</h5>
                        <p class="card-text">Stretches improve flexibility, reduce muscle tension, and help prevent injury.
</p>
                       
                    </div>
                </div>

                <div class="card bg-dark text-white border-0" style="width: 19rem;">
                    <svg class="bd-placeholder-img card-img-top" width="50%" height="50" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>[[#{home.user.measures}]]</title>
                        <img src="../static/Photos/img2.avif" alt="My measures" style="width: 100%; height: 400px; object-fit: cover;">
                    </svg>
                    <div class="card-body">
                        <h5 class="card-title">Measures</h5>
                        <p class="card-text">Measures track progress, guide goals, and help maintain health and performance.
</p>
                      
                    </div>
                </div>
            </div>


                <!-- Previliges for admin -->
                <div class="sidebar-links d-flex flex-row justify-content-center" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="card bg-dark text-white border-0" style="width: 18rem; margin-bottom: 15px; margin-right: 15px;">
                        <svg class="bd-placeholder-img card-img-top" width="50%" height="50" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>[[#{home.admin.rutinas}]]</title>
                            <img src="../static/Photos/img3.webp" alt="Routines" style="width: 100%; height: 400px; object-fit: cover;">
                        </svg>
                        <div class="card-body">
                            <h5 class="card-title">Routines</h5>
                            <p class="card-text">A healthy routine promotes energy, prevents illness, and supports mental well-being.</p>
                           
                        </div>
                    </div>

                    <div class="card bg-dark text-white border-0" style="width: 18rem; margin-bottom: 15px; margin-right: 15px;">
                        <svg class="bd-placeholder-img card-img-top" width="50%" height="50" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>[[#{home.admin.users}]]</title>
                            <img src="../static/Photos/img4.avif" alt="Users" style="width: 100%; height: 400px; object-fit: cover;">
                        </svg>
                        <div class="card-body">
                            <h5 class="card-title ">Diet Plan</h5>
                            <p>Smart eating for brain health: balanced, nutritious, mindful, and sustainable.
</p>
                           
                        </div>
                    </div>

                    <div class="card bg-dark text-white border-0" style="width: 18rem; margin-bottom: 15px;">
                        <svg class="bd-placeholder-img card-img-top" width="50%" height="50" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>[[#{home.admin.exercises}]]</title>
                            <img src="https://images.pexels.com/photos/414029/pexels-photo-414029.jpeg" alt="Exercises" style="width: 100%; height: 400px; object-fit: cover;">
                        </svg>
                        <div class="card-body">
                            <h5 class="card-title">Exercises</h5>
                            <p class="card-text"> Exercises strengthen the body, improve endurance, and support overall health.
</p>
                           
                        </div>
                    </div>
                </div>
        </section>
    </body>
</html>