<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>PurelyFit</title>
    <link
            rel="shortcut icon"
            href="../../static/css/book-diet-6215693-5076252.webp"
            type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">    <meta charset="UTF-8" />
    <link
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
            rel="stylesheet"
    />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link
            th:href="@{/static/css/estilosBarras.css}"
            rel="stylesheet"
            type="text/css"
    />
    <link
            th:href="@{/static/css/estilosGenerales.css}"
            rel="stylesheet"
            type="text/css"
    />
    <script
            th:src="@{/static/js/mostrarHora.js}"
            type="text/javascript"
    ></script>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
            crossorigin="anonymous"
    ></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-..."
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="layout.css">
</head>

<body>
<!-- Navbar Horizontal -->
<nav
        th:fragment="navbar"
        class="navbar p-0 vw-100  navbar-dark navbar-expand justify-content-around navbarInicio"
        style="z-index: 100"
>
    <div id="nameTitle">
        <a href="#" style="font-family: Anton;" class="fs-4 text-decoration-none fw-semibold  text-inherit  text-danger">PurelyFit</a>
    </div>
    <div id="user and admin">
        <section th:fragment="sidebar" class="container sidebar">
            <div class="row row-sidebar">


                <!--Priviligies for User-->
                <div class="sidebar-links d-flex" sec:authorize="hasRole('ROLE_USER')">
                    <a th:href="@{/}" class="card border-0 bg-transparent text-white m-2 w-25 p-1 text-decoration-none   text-center">

                        <span >Home </span>
                    </a>

                    <a th:href="@{/user/routines}" class="card border-0 bg-transparent text-white m-2 p-1 text-decoration-none  w-25 text-center">

                        <span>Routine</span>
                    </a>

                    <a th:href="@{/user/stretches}" class="card border-0 bg-transparent text-white m-2 p-1 text-decoration-none w-25 text-center">

                        <span style="width: 90px;">Stretching</span>
                    </a>

                    <a th:href="@{/user/measures}" class="card border-0 bg-transparent text-white m-2 p-1 text-decoration-none  w-25 text-center">

                        <span style="width: 90px;">Measures</span>
                    </a>
                    <a href="http://localhost:5173" class="card border-0 bg-transparent text-white m-2 p-1 text-decoration-none  w-25 text-center">

                        <span style="width: 82px;">Community</span>
                    </a>
                    <a href="http://localhost:8501" class="card border-0 bg-transparent text-white m-2 p-1 text-decoration-none  w-25 text-center">

                        <span class="ms-2" style="width: 75px;">Diet Plan</span>
                    </a>
                </div>

                <!--Priviligies for Admin-->
                <div class="sidebar-links d-flex  " sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/}" class="card border-0 bg-transparent text-white m-2 p-1 text-decoration-none  w-25 text-center">
                        <span>Home </span>
                    </a>

                    <a th:href="@{/admin/routines}" class="card border-0 bg-transparent text-white m-2 p-1 text-decoration-none  w-25 text-center">
                        <span> Routine</span>
                    </a>

                    <a th:href="@{/admin/user}" class="card border-0 bg-transparent text-white m-2 p-1 text-decoration-none  w-25 text-center">
                        <span> User</span>
                    </a>

                    <a th:href="@{/admin/exercises}" class="card border-0 bg-transparent text-white m-2 p-1 text-decoration-none  w-25 text-center">

                        <span style="width: 63px;">exercises</span>
                    </a>
                    <a href="http://localhost:5173" class="card border-0 bg-transparent text-white m-2 p-1 text-decoration-none  w-25 text-center">

                        <span style="width: 82px;">Community</span>
                    </a>
                    <a href="http://localhost:8501" class="card border-0 bg-transparent text-white m-2 p-1 text-decoration-none  w-25 text-center">

                        <span class="ms-2" style="width: 75px;">Diet Plan</span>
                    </a>
                </div>


            </div>
        </section>
    </div>
    <div id="LOgout">
        <ul class="navbar-nav col-md-2 text-start">

            <li class="nav-item dropdown me-1">
                <a
                        class="nav-link"
                        href="http://localhost/login"
                        role="button"
                >
                    <i class="fas fa-user"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <form method="post" th:action="@{/logout}" class="d-inline">
                            <button type="submit" class="dropdown-item">[[#{navbar.logout}]]</button>
                        </form>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
<hr>

<!--Sidebar vertical estandarizado a para cada rol-->
<section th:fragment="sidebar" class="container sidebar">
    <div class="row row-sidebar">



    </div>
</section>
</body>
</html>